.body-screen { -fx-background-color: #FFF2CC; }

.quiz-text { 
	-fx-font-size: 32px;
}

.quiz-questiontext {
	-fx-font-size: 20px;
}

.quiz-vbox {
	-fx-spacing: 30px;
	-fx-padding:  50px 0 0 20px;
}

.quiz-hbox {
	-fx-spacing: 10px;
}

.quiz-button {
	-fx-background-color: cyan;
}

.quiz-rect {
	-fx-fill: cyan;
	-fx-stroke: black;
	-fx-stroke-width: 5px;
}

.quiz-image {
	-fx-padding: 0 50 200 0;
}
